<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string></string>
	<key>REVERSED_CLIENT_ID</key>439999264168-m762lohn0rg2s8ddl1clv9steqi6h1vg.apps.googleusercontent.com
	<string>com.googleusercontent.apps.439999264168-m762lohn0rg2s8ddl1clv9steqi6h1vg</string>
	<key>API_KEY</key>
	<string>AIzaSyCXUFE77VgNkTmopfJXaSIyTHqYmEpx2rw</string>
	<key>GCM_SENDER_ID</key>
	<string>439999264168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supomarket</string>
	<key>PROJECT_ID</key>
	<string>supomarket-a3483</string>
	<key>STORAGE_BUCKET</key>
	<string>supomarket-a3483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439999264168:ios:dd3f3223ffda2926c2d99d</string>
</dict>
</plist>